<!DOCTYPE html>
<html>
  <head>
	  <title> DoMore Sample App</title>
	  <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
      <!-- This will lead to an "_shim.html.erb" file
        the "_" is the convential for understanding partials -->

  </head>
  <body>
    <%= render 'layouts/header' %>
      <!-- This will lead to an "_header.html.erb" file
        the "_" is the convential for understanding partials -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
        <!-- This will lead to an "_footer.html.erb" file
          the "_" is the convential for understanding partials -->
    </div>
  </body>
</html>




